body{
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* Header - Section 1 */
.navHeader { 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #1F2937;
}
.header-logo{
    display: flex;
    width: 50%;
    margin-left: 10%;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
}
.nav {
    display: flex;
    width: 50%;

    margin-right: 10%;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    
    color: #E5E7EB;

    font-size: 18px;
}
/* Banner - Section 2 */
.banner{
    display: flex;
    flex-direction: row;

    width: 100%;
    background-color: #1F2937;
    padding-bottom: 50px;

}
.banner-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    margin: 50px 0px 50px 10%;


}
.banner-text h1{
    margin: 2px;
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8
}
.banner-text p{
    color: #E5E7EB;
    margin: 2px;
    font-size: 18px;
}
.banner-text button{
    background-color: #3882F6;
    color: #f9faf8;
    width: 20%;
    margin: 2px;

    padding: 5px 0px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}
.image{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 10% 50px 0px;
    background-color: gray;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
}

/* Section 3 - Cards */
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.information h2{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937
}
.card-container{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
}

.card-image{ 
    height: 100px;
    width: 100px;
    border: 2px solid #3882F6;
    border-radius: 10px;

}

.card-text {
    width: 100px;
    text-align: center;
}
/* Section 4 - Quote */
.quote-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    background-color: #E5E7EB;
    height: 300px;
    padding: 0px 20%;
    

}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}


.quote-author{
    align-self: flex-end;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color:#1F2937;
}

/* Section 5 - Call to Action */

.call-to-action{
    display: flex;
    margin: 50px 10%;
    padding: 20px 10%;

    background-color: #3882F6;
    align-items: center;
    border-radius: 10px;
}
.cta{
    flex-grow: 3;
    color: #E5E7EB;

}

.cta h5{
    font-weight: bold;
    font-size: 24px;

    margin: 0;
}
.cta p{

    margin: 0;
    font-size: 18px;

}
.cta-button { 
    flex-grow: 1;
    color: #E5E7EB;
    padding: 5px 0;
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 10px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}